name: Build and Publish Zips

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Zip folders
        run: |
          mkdir public
          for dir in */ ; do
            folder="${dir%/}"
            (cd "$folder" && zip -r "../public/$folder.zip" .)
          done

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: public
